!!!
%html
  %head
    %meta{charset: "UTF-8"}
    = stylesheet_link_tag "application"
    = stylesheet_link_tag 'lance'
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600", rel:"stylesheet"}
    %link{rel: "stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}
    %title Diehard.Fund - Gamers Get Funded
    %meta{:content => "Diehard.Fund helps gamers get funded for their ideas, for building products, or for simply preordering game proposals", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %meta{:content => "DiehardFund - Gamers Get Funded", :property => "og:title"}/
    %meta{:content => "457851034283863", :property => "fb:app_id"}/
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    = javascript_include_tag "application"
    = javascript_include_tag 'lance/ahoy'
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T2R2NW');
    = theme_javascript_include_tag

  %body
    %section.intro
      %nav.nav
        %a{href: "/"}
          = image_tag 'lance/images/diehard_fund-logo-40h.png', class: 'nav__logo'
        .nav__spacer
        %a.nav__link.nav__learn-link{href: "https://www.diehard_fund.school/"} Learn
        %a.nav__link.nav__sign-in-link{href: "/users/sign_in/"} Login

      %hr.break_no_margin_long-orange
    = yield

    %footer.footer
      .wrapper
        %section.footer__section.grid
        .footer__trademark-statement.fs-small
          = t :'navigation.trademark_statement'
