%footer.footer
  .wrapper
    %section.footer__section.grid
      %ul.footer__list
        %li.footer__item
          %a{href: '/'}= t :'navigation.home'
        %li.footer__item
          %a{href: '/users/sign_in'}= t :'navigation.login'
        %li.footer__item
          %a{href: '/start_group'}= t :'navigation.start_group'
        %li.footer__item
          %a{href: '/contact'}= t :'navigation.contact'
        %li.footer__item
          %a{href: '/about'}= t :'navigation.about'
        %li.footer__item
          %a{href: '/pricing', target: '_blank'}= t :'navigation.pricing'
      %ul.footer__list
        %li.footer__item
          %a{href: 'http://blog.loomio.org/category/stories', target: '_blank'}= t :'navigation.case_studies'
        %li.footer__item
          %a{href: 'http://help.loomio.org', target: '_blank'}= t :'navigation.help'
        %li.footer__item
          %a{href: 'http://blog.loomio.org/category/guides', target: '_blank'}= t :'navigation.guides_and_tips'
        %li.footer__item
          %a{href: 'https://github.com/loomio/loomio', target: '_blank'}= t :'navigation.developers'
        %li.footer__item
          %a{href: '/terms_of_service'}= t :'navigation.terms_of_service'
        %li.footer__item
          %a{href: '/privacy'}= t :'navigation.privacy'
      %ul.footer__list
        %li.footer__item
          %a{href: '/translation'}= t :'navigation.translation'
        %li.footer__item
          %a{href: 'http://blog.loomio.org', target: '_blank'}= t :'navigation.blog'
        %li.footer__item
          %a{href: 'http://eepurl.com/b51x_b', target: '_blank'}= t :'navigation.newsletter'
        %li.footer__item
          %a{href: 'https://twitter.com/Loomio', target: '_blank'}= t :'navigation.twitter'
        %li.footer__item
          %a{href: 'https://www.facebook.com/Loomio/', target: '_blank'}= t :'navigation.facebook'
    .footer__trademark-statement.fs-small
      = t :'navigation.trademark_statement'
