%section.hero
  .duo
    .duo__image
      = image_tag 'lance/images/lance/choose_your_role.png', class: 'intro__image', alt: t(:'marketing.choose_your_role')
    .duo__text.intro__problem-text
      %ul
        %li
          .role-top
            .designer-font= t(:'marketing.designer_role')
            .standard-font= t(:'marketing.designer_description')
        %li
          .role
            .builder-font= t(:'marketing.builder_role')
            .standard-font= t(:'marketing.builder_description')
        %li
          .role-bottom
            .investor-font= t(:'marketing.investor_role')
            .standard-font= t(:'marketing.investor_description')

  %hr.break__long-orange
  %header
    %h2.txt--center How it works
  .diagram.txt--center
    = 'Title: An Example Of Typical Workflow'
    = 'Designers->Designers: Designers Form Group'
    = 'Designers->Builders: Designers Create Proposal'
    = 'Builders->Builders: Builders Form Group'
    = 'Builders->Designers: Builders Return A Price Quote'
    = 'Designers->Designers: Designers Add Their Fee To Quote'
    = 'Designers->Investors: Final Proposal Posted To Investors'
    = 'Investors-->Builders: Proposal Is Fully Funded And Builders Get Paid'
    = 'Investors-->Designers: Proposal Is Fully Funded And Designers Get Paid'
    = 'Investors->Investors: Investors Form Automatically Group'
    = 'Investors->Investors: Each Has Shares Proportional To Investment Made'
    = 'Builders->Investors: Builders Complete Minimum Viable Product'
    = 'Public->Investors: Public Buys Copies Of MVP'
    = 'Investors->Investors: Each Investor Gets Paid Based On Shares'
    = 'Public->Designers: Players Become Designers By Creating New Requirements'
    = 'Public->Investors: Players Preorder MVP 2.0'
    = 'Public->Builders: Players Become Artists, Programmers, Writers...'
    = 'Public->Builders: Professionals Join Groups To Secure Contracts'
    = 'Designers->Investors: Designers Buy Right To Produce MVP 2.0'
    = 'Designers-->Builders: Designers Create Proposal...'
  :javascript 
    $(".diagram").sequenceDiagram({theme: 'hand'});

  %hr.break__long-orange

%section.helps
  %header
    %h2.txt--center= t(:'marketing.company_mission_headline')
  .duo
    .duo__text
      %h3= t(:'marketing.diehard_&_dreamer_description')
    .duo__image
      = image_tag 'lance/images/dreamer-assist-logo-big.png', class: 'intro__image'
  %hr.break__long-blue

  %header
    %h2.txt--center= t(:'marketing.you_can_make_a_difference')
  .duo
    .duo__text
      %h3= t(:'marketing.difference_maker_description')
    .duo__text
      %h3= t(:'marketing.we_rise_by_lifting_others')
  %hr.break__long-blue

  %header
    %h2.txt--center= t(:'marketing.for_the_people')
  .duo
    .duo__text
      %h3= t(:'marketing.code_contributions')
    .duo__image
      = image_tag 'lance/images/AGPLv3_Logo.svg', class: 'intro__image'
  %hr.break__long-orange

