%section.hero
  .duo
    .duo__image
      = image_tag 'lance/images/lance/badmeeting.png', class: 'intro__image'
    .duo__text.intro__problem-text
      %ul
        %li Too many group emails?
        %li Tedious meetings?
        %li Off-track discussions?
      %p Loomio saves times, gives clear outcomes, and keeps everything in one place.

      %p
        %a.btn.btn--primary.h3{href: "https://www.loomio.org/g/new"} Start a group
        %a.btn.btn--accent.h3{href: "https://www.loomio.org/p/new"} Make a decision
      .duo__cta.duo__cta--intro
        .duo__cta--first
        .duo__cta--second
  %hr.break__long-orange



%section.helps
  %header
    %h2.txt--center Loomio helps
  .helps__flex
    .helps__group
      %h3 Boards & Committees
      %ul
        %li Make decisions between meetings
        %li Approve resolutions & minutes
        %li Keep everything in one place
    .helps__group
      %h3 Working teams
      %ul
        %li Increase transparency
        %li More efficient meetings
        %li Clear decisions
    .helps__group
      %h3 Government & Community
      %ul
        %li Give people a voice
        %li Increase accessibility & diversity
        %li Build empathy & understanding
  %hr.break__long-orange


%section.quotes
  .quotes__wrapper
    .quotes__quote
      “Our communications are more effective and efficient, and everything is in one place.”
    .quotes__author
      Ben Gleisner, Conscious Consumers

  .quotes__wrapper
    .quotes__quote
      “People learn to engage more usefully with one another, and that carries over into face-to-face working.”
    .quotes__author
      Theodore Taptiklis, Human Methods Lab

  .quotes__wrapper
    .quotes__quote
      “We reached people that otherwise wouldn’t have contributed to the conversation, including marginalised populations and youth.”
    .quotes__author
      Tom MacDiarmid, Statistics New Zealand
  %hr.break__long-orange


%section.tools#features
  %header
    %h2.txt--center A suite of decision tools
    .txt--center Choose the tool that suits your situation.
  .duo
    .duo__text
      %h3 Reach clear outcomes

      %p
        %strong Proposals
        are an effective way to bring a discussion to conclusion.
      %p Hear from everyone - even the quieter voices, and see the big picture at a glance.
      %p Proposals highlight agreement, and can surface misunderstandings or issues that need to be resolved.

      .duo__cta
        %a.btn.btn--primary{href: "https://www.loomio.org/p/new/proposal"} Start a proposal
        %a.btn.btn--accent{href: "https://www.loomio.org/p/example/proposal"} Try demo
    .duo__image
      = image_tag 'lance/images/lance/proposal.png', class: 'feature__image'

  %hr.break__long-blue

  .duo
    .duo__text
      %h3 Simple scheduling

      %p
        %strong Time poll
        finds when everyone can meet. It works across organisations and automatically converts time zones.

      .duo__cta
        %a.btn.btn--primary{href: "https://www.loomio.org/p/new/meeting"} Start a time poll
        %a.btn.btn--accent{href: "https://www.loomio.org/p/example/meeting"} Try demo

    .duo__image
      = image_tag 'lance/images/lance/time-poll.png', class: 'feature__image'

  %hr.break__long-blue

  .duo
    .duo__text
      %h3 Polling and Prioritisation

      %p
        Discuss strategy and prioritise with
        %strong Dot voting
        and
        %strong Polling

      .duo__cta
        %a.btn.btn--primary{href: "https://www.loomio.org/p/new/dot_vote"} Start a dot vote
        %a.btn.btn--accent{href: "https://www.loomio.org/p/example/dot_vote"} Try demo

    .duo__image
      = image_tag 'lance/images/lance/prioritise.png', class: 'feature__image'

  %hr.break__long-blue

  .duo
    .duo__text
      %h3 Ask yes/no questions

      %p
        When there are tasks to be done, or you just want to get an 'ok' from people,
        %strong Check
        makes participation clear and saves you chasing people up.

      .duo__cta
        %a.btn.btn--primary{href: "https://www.loomio.org/p/new/count"} Start a check
        %a.btn.btn--accent{href: "https://www.loomio.org/p/example/count"} Try demo

    .duo__image
      = image_tag 'lance/images/lance/check.png', class: 'feature__image'

  %hr.break__long-blue

  .duo
    .duo__text
      %h3 A place for your discussions & decisions
      %p
        A
        %strong Loomio group
        is a safe place to have considered discussions and make decisions away from social media.

      %p It's a secure and searchable archive of your discussions, decisions, and files.

      .duo__cta
        %a.btn.btn--primary{href: "https://www.loomio.org/p/new/count"} Start a group

    .duo__image
      = image_tag 'lance/images/lance/group.png', class: 'feature__image'

  %hr.break__long-orange

%section.email
  %header
    %h2.txt--center Make a decision in email, with anyone.
    %p No prior setup required. Use it any time.

  .duo
    .duo__text
      %p Make a decision in 3 simple steps:
      %ol.p
        %li
          Forward a group email to
          %code decide@loomio.org
        %li Check your inbox for an email from Loomio
        %li Start a decision, your group will be included automatically.

      %p Watch the video to see it in action!

    .duo__image
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube-nocookie.com/embed/6HimtpxWmHo?rel=0&amp;controls=0", :width => "560"}
      -# = image_tag 'lance/images/email_time_poll.gif', class: 'feature__image'

  %hr.break__long-orange

%section.slack
  %header
    %h2.txt--center Make decisions in Slack!

  .slack__flex
    .feature__image-cell
      = image_tag 'lance/images/lance/slackbot.png', class: 'feature__image'
    .feature__image-cell
      = image_tag 'lance/images/slack_proposal.gif', class: 'feature__image'

  .txt--center.m1
    %a.slack__button{href: "https://www.loomio.org/slack/install", title: "Add to slack"}
      = image_tag 'lance/images/add-to-slack-button.png'

  %hr.break__long-orange

%section.features.my2
  .grd
    .grd-row
      .grd-row-col-2-6--md.p1
        %h4 Works on all devices and platforms.
        %p Loomio is a web app with great desktop and mobile support.
      .grd-row-col-2-6--md.p1
        %h4 No passwords required
        %p No thinking up, remembering, or typing! Just log in with a link sent to your email, or sign in via google or facebook.
      .grd-row-col-2-6--md.p1
        %h4 Easy to adopt
        %p We know it can be hard to start using a new tool. With Loomio you can participate and stay updated by email.

    .grd-row
      .grd-row-col-2-6--md.p1
        %h4 Reminders keep things moving
        %p Loomio has great notifications and reminders, so decisions are inclusive and effective.
      .grd-row-col-2-6--md.p1
        %h4 Overcome language barriers
        %p Loomio can translate content from one lanugage to another, enabling people to speak across languages.
      .grd-row-col-2-6--md.p1
        %h4 Accessible by design
        %p We've designed Loomio to be accessible to visually impared people and screen reader users.
    .grd-row
      .grd-row-col-2-6--md.p1
        %h4 Secure
        %p We're approved for use within the NZ government.
      .grd-row-col-2-6--md.p1
        %h4 Open source
        %p
          Check out our code on
          %a{href: "https://github.com/loomio/loomio"} Github
      .grd-row-col-2-6--md.p1
        %h4 We respect your privacy
        %p We will never sell you data to third parties, or put advertising into Loomio.

  %hr.break__long-orange

%section
  %h2.txt--center In the media
  .fp-drop-in.flex.flex--space-between
    .fp-drop-in__box
      = image_tag 'lance/images/fastcompany.png', class: 'fp-drop-in__image'
      %a{href: "https://www.fastcompany.com/3029132/fund-this/an-occupy-inspired-app-that-helps-groups-make-actual-group-decisions", target: "_blank"}
        The beauty of Loomio is in it's simplicity. It does exactly what it needs to do and no more.
      — Jay Cassano, Fast Company
    .fp-drop-in__box
      = image_tag 'lance/images/boingboing.png', class: 'fp-drop-in__image'
      %a{href: "http://boingboing.net/2014/03/19/loomio-democratic-decision-ma.html", target: "_blank"}
        Loomio seems to have a good mix of political savvy, technical knowhow, and design sense.
      — Cory Doctorow, Boing Boing
    .fp-drop-in__box
      = image_tag 'lance/images/bbc.png', class: 'fp-drop-in__image'
      %a{href: "http://www.bbc.co.uk/programmes/b04md5b0", target: "_blank"}
        Loomio is set to be the Facebook of the citizen web.
      — Jon Alexander, BBC Radio 4

  %hr.break__long-orange

%section.liner.py2
  %h2.txt--center A different kind of company
  .duo
    .duo__text
      %p Loomio is a social enterprise collectively owned by the people building it.
      %p Loomio exists to make it easy for anyone, anywhere, to participate in decisions that affect their lives.
      %p Our company handbook, Loomio School, About us.
    .duo__image
      = image_tag 'lance/images/teamphoto.jpg'

  %hr.break__long-orange

%section.loomio-land
  .grd
    .grd-row
      .grd-row-col-6-6
        = image_tag "lance/images/lance/using_loomio.png", class: 'feature__image'
